html {
    scroll-behavior: smooth;
}

body{
    color:SlateGray;
}
.navs{
    position:fixed;
    z-index:10;
    width: 100%;
    text-shadow: 0px 0px 10px #dbffee;
}

.line{
    border: 1px solid;
    color:	DarkSeaGreen;
    margin: 40px 0;
}

i{
    font-size: 30px;
    padding: 5px;
    color: whitesmoke;
}

.iconbox{
    background: linear-gradient(56deg, rgba(143,188,139,1) 0%, rgba(102,205,170,1) 96%);
    text-align: center;
    margin: 10px 0;
}

.titulos{
    font-family: 'Nunito', sans-serif;
}

.mycard{
    background-color: beige;
}

footer{
    background: linear-gradient(56deg, rgba(143,188,139,1) 0%, rgba(102,205,170,1) 96%);
    color: whitesmoke;
}

footer h5 {
    padding-top: 10px;
}


.icons{
    vertical-align: middle;
}